*.exe
*.identcache
*.local
*.log
*.mi
*.ppu
*.o
*.compiled
*.bak
*.or
*.a
*.rsj
*.dcu
*.ini
*.stat
*.rar
*.log.txt
*.tvsconfig
*res
__history/*.*
__recovery/*.*
ExtAI/Cpp/**
ExtAI/Delphi/__history/*.*
ExtAI/Delphi/__recovery/*.*
ExtAI/Delphi/src/__history/*.*
ExtAI/Delphi/src/__recovery/*.*
ExtAI/Delphi/src/interface/__history/*.*
ExtAI/Delphi/src/interface/__recovery/*.*
ExtAI/Delphi/src/net/__history/*.*
ExtAI/Delphi/src/net/__recovery/*.*
ExtAI/Delphi/win32/*
ExtAI/Python/.idea/*
ExtAI/Python/venv/*
ExtAI/Python/src/__pycache__/*
src/__history/*.*
src/__recovery/*.*
src/ExtAI/__history/*.*
src/ExtAI/__recovery/*.*
src/OverbyteV8/*
