*.exe
*.identcache
*.local
*.log
*.mi
*.ppu
*.o
*.compiled
*.bak
*.or
*.a
*.rsj
*.dcu
*.ini
*.stat
*.rar
*.log.txt
*res
ExtAI/Delphi/__history/*.*
ExtAI/Delphi/__recovery/*.*
src/__history/*.*
src/__recovery/*.*
src/ExtAI/__history/*.*
src/ExtAI/__recovery/*.*
